*{
    border: 0px solid red;
}
body{
    height: 100vh;
    
}
.expression{
    display: flex;
    justify-content: center;
}
#root{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
#roundChanger{
    margin: 1rem;
}
.display{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: rgba(222, 165, 78, 0.501);
}
.historyDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
/* .input{
    
}
.button{

} */
.display-paragraph{
    display: flex;
    justify-content: center;
}
#game-over{
    display: flex;
    justify-content: center;
}
#replay-button{
    margin: 1rem auto;
    display: block;
}
.container{
    background-color: rgba(222, 165, 78, 0.501);
    border-radius: 0.6rem;
    padding: 1.5rem;
}
#wrong-answer{
    width: fit-content;
    margin: auto;
    color: red;
    font-size: 0.7rem;
}